<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<%@page pageEncoding="UTF-8"%>
<title>Insert title here</title>
</head>
<body>
<div class="col-lg-2 left-bar">
				<div class="row left-head">
					<!-- 图案+名字 -->
					<a class="login_admin"> <img src="../images/wff.jpg"
						style="width: 120px;" />
					</a>
					<div class="caption pull-right">
						<h4>欢迎王先生登录</h4>
					</div>
				</div>
				<div class="row">
					<h2>定区管理</h2>
				</div>
			</div>
			<!-- 右侧整体 -->
</body>
</html>