<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.3.xsd ">
		
	
	<!-- 扫包biz配置对象 -->
	
	<context:component-scan base-package="com.yidu.wff.base.fixedArea.biz"></context:component-scan>
 

	
	
	<!-- 配置事务管理器 -->
	<bean id="txManage" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 配置事务通知 -->
	<tx:advice id="txAdvice" transaction-manager="txManage">
		<tx:attributes>
			<tx:method name="find*" read-only="true"/>
			<tx:method name="*" isolation="DEFAULT" propagation="REQUIRED" 
			timeout="-1" read-only="false" />
		</tx:attributes>
	</tx:advice>
		
	<!-- 配置事务AOP -->
	<aop:config>
		<!-- 切入点 -->
		<aop:pointcut expression="execution(* com.yidu.wff.base.fixedArea.biz.*.*.*(..))"
			id="txPc" />
		<!-- 切入通知 -->
		<aop:advisor pointcut-ref="txPc" advice-ref="txAdvice" />
	</aop:config>
	
</beans>    